extends layout

block content
	h1= title
	p Bienvenido a la aplicación #{title}
	p Aquí irá el formulario: 
	form(action='respuesta',method='post')
		input(type='text', name='palabra', placeholder='Buscar')
	p Esto es un 
		a(href='/') enlace al indice.
	p Pruebas con  
		a(href='/formulario') formularios y método POST.