extends layout

block content
	h1= title
	p Bienvenido a la aplicación #{title}
	p Aquí irá el 
		b bloque de contenido 
		| de la página
	p Esto es un 
		a(href='pagina') enlace a otra página.
		p Pruebas con  
			a(href='/formulario') formularios y método POST.
