extends layout

block content
	h1= title
	p Bienvenido a la aplicación #{title}
	p Aquí irá el 
		b bloque de contenido 
		| de la otra página, así tenemos multipágina.
	p Esto es un 
		a(href='/') enlace al indice.